/*
    ENTIRE REVIEW PANEL
*/
#review-panel {
    display: grid;

    grid-template-columns: 100%;
    border-radius: 10px;

    background-color: var(--secundary-background-color);
}

@media (min-width: 1264px) {
    #review-panel {
        grid-template-rows: 88% 12%;
    }
}

@media (max-width: 1264px) and (min-width: 1000px) {
    #review-panel {
        grid-template-rows: 82% 18%;
    }
}

@media (max-width: 999px) {
    #review-panel {
        grid-template-rows: 82% 18%;
    }
}

@media (max-height: 860px) {
    #review-panel {
        grid-template-rows: 82% 18%;
    }
}

/*
    REVIEW PANEL NON-TOOLBAR SECTION
*/
#review-panel-main {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 20px;
}

@media (max-width: 1265px), (max-height: 860px) {
    #review-panel-main {
        padding-bottom: 30px;
    }
}

/*
    REVIEW PANEL HEADING
*/
#review-panel-title {
    margin: 0px 0px 10px 0px;
    text-align: center;
}

@media (max-width: 1126px) {
    #review-panel-title {
        font-size: 27px;
    }
}

/*
    GAME LOAD TYPE DROPDOWN
*/
#load-type-dropdown-container {
    margin-bottom: 5px;
}

#load-type-dropdown {
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 5px;

    background-color: var(--background-color);
    color: white;
}

option {
    border: none;
    outline: none;
}

/*
    PGN INPUT TEXTAREA
*/
#pgn {
    height: 130px;
    resize: none;
    padding: 10px;

    border: none;
    border-radius: 5px;
    background-color: var(--background-color);
    outline: none;
}

/*
    CHESS.COM / LICHES USERNAME INPUT TEXTAREA
*/
#chess-site-username-container {
    display: flex;
    gap: 5px;
}

#chess-site-username {
    display: none;
    width: 90%;
    height: 30px;

    padding: 10px;

    border: none;
    border-radius: 5px;
    background-color: var(--background-color);
    outline: none;

    resize: none;
    font-size: 16px;
    overflow: hidden;
}

#fetch-account-games-button {
    display: none;
    transform: translateY(-2px);
}

#fetch-account-games-button:active {
    transform: translateY(0px);
}

/*
    ANALYSE GREEN BUTTON
*/
#review-button {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 10px;
    padding: 10px 50px;

    font-size: 20px;
}

/*
    SEARCH DEPTH SLIDER
*/
#depth-slider-container {
    display: flex;
}

#depth-slider {
    color: var(--primary-color);
    accent-color: var(--success-color);
    width: 100%;
}


#depth-counter {
    min-width: 45px;
}

#depth-message {
    font-size: 13px;
    margin: 0px;
    text-align: center;
}

/*
    ANALYSIS PROGRESS BAR
*/
#evaluation-bar-container {
    display: none;
    margin-top: 15px;
}

#captcha-container {
    display: none;
    margin-top: 10px;
    transform: scale(0.9);
    transition-duration: 0.3s;
}

/*
    ANALYSIS STATUS MESSAGE (INFO/ERROR)
*/
#status-message {
    text-align: center;
    color: rgb(255, 53, 53);
}

/*
    RECAPTCHA COMPONENT
*/

@media (max-width: 1300px) {
    .g-recaptcha {
        transform: scale(0.85);
    }
}

@media (max-width: 1200px) {
    .g-recaptcha {
        transform: scale(0.75);
    }
}

@media (max-width: 999px) {
    .g-recaptcha {
        transform: scale(0.9);
    }
}

/*
    ANALYSIS SECONDARY MESSAGE
*/
#secondary-message {
    text-align: center;
    font-size: 14px;
}

/*
    REVIEW PANEL BOTTOM TOOLBAR
*/
#review-panel-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#review-panel-toolbar {
    grid-row: 2 / 3;

    border-top: 0.5px solid var(--border-color);
}

#review-panel-toolbar-buttons {
    margin: 10px;
    gap: 10px;
    flex-wrap: wrap;
    transition: gap 0.5s ease;
}

#review-panel-toolbar-buttons img {
    cursor: pointer;
    transition: transform 0.5s ease;
}

#review-panel-toolbar-buttons img:hover {
    transform: translateY(-3px);
}