:root {
    --border-color: rgba(255, 255, 255, 0.1);

    --background-color: rgb(48, 46, 43);
    --secundary-background-color: rgb(38, 37, 34);
    --primary-color: rgb(20, 20, 20);
    --secondary-color: var(--primary-color);

    --success-color: #59A5D8;
    --success-color-accent: #386FA4;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: system-ui;
}

.progress-bar-ext {
    margin-top: 7px;
    background-color: var(--secundary-background-color);
    height: 40px;
    overflow: hidden;
    border-radius: 5px;
}

.progress-bar-in {
    width: 0%;
    height: 100%;
    background-color: var(--success-color);
    transition: all;
}

.small-text {
    font-size: 13px;
}

.std-btn {
    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.success-btn {
    background-color: var(--success-color);
    box-shadow: 0px 4px var(--success-color-accent);
}

.success-btn:active {
    box-shadow: 0px 2px var(--success-color-accent);
    transform: translateY(2px);
}